{%extends "base.html" %}
{%block content%}
{{ super() }}
<h1>Professional Profile</h1>
<textarea cols="60" rows="8">
 A recent Reading University graduate with a 2:1 Computer Science Degree. Excellent problem-solving skills gained during software development modules at University and later used at Age UK.  Developed interpersonal skills working in teams in both academia and in several voluntary positions. Capable of managing multiple projects at a time, while producing timely deliverables to a high quality, as was required throughout University. Looking to secure a DevOps position at a great company to kick-start my career in the tech industry.
</textarea>
<h2>Why IT & DevOps?</h2>
<textarea cols="60" rows="8">Overall, IT is a constantly changing field, with more to be learned and discovered every
    year. This
    continual growth and freshness keeps a career interesting even after years of work in the same role. DevOps is a prime example of this. It’s at the forefront of a new wave of efficiency and automation that will likely have far reaching consequences. Consequences that I’m excited to discover and explore over my career.</textarea>
{% endblock %}